<%- include("header"); -%>
 
<form class= "/transmitter" method="post">
    <div>
      <h3> Transmitter Side of Dermoscopic Diagonsis Website </h3> 
      <br>
      <label> the original dermoscopic image is:  </label>
      <br>
      <image  src= "C:\Users\DELL\Desktop/ISIC_0024372.jpg" weight = "20" hieght= "40"  alt ="original dermoscopic image " > 
      <br>
      <br>
      <label> The compressed image is :  </label>
      <br>
     <image  src= "C:\Users\DELL\Desktop/ISIC_0024372.jpg" weight = "20" hieght= "40"  alt ="original dermoscopic image " > 
      <br>
      <label> The compression ratio is  :  </label>
      <br>
      <a href="/receiver" > For the Receiver Side press here </a>
    </div>
</form>


<%- include("footer"); -%>